html,body{
    overflow-x: hidden;
}

body {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}

.wrapper {
    width: 87.2%;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2 {
    color: #000;
    font-size: clamp(24px, 4vw, 42px);
    font-style: normal;
    font-weight: 700; 
    line-height: 117.823%;
}

h2 {
    color: #1E1E1E;
    font-weight: 500;
}

h3 {
    color: #000;
    font-size: clamp(18px, 2.7vw, 28px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

h4 {
    color: #000;
    font-size: clamp(18px, 2.3vw, 24px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    color: #1E1E1E;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont;
    font-size: clamp(14px, 2vw, 16px);
    font-style: normal;
    line-height: 132%;
}

a {
    color: #1E1E1E;
    font-size: clamp(14px, 2vw, 16px);
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont;
    font-style: normal;
    line-height: 132%;
    text-decoration-line: underline;
}

span {
    color: #484848;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, -apple-system, BlinkMacSystemFont;
    font-size: clamp(12px, 1.9vw, 18px);
    font-style: normal;
    line-height: 132%;
}

body table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(91, 143, 203, .5);
    margin: 20px auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    height: clamp(35px, 4vw, 50px);
    vertical-align: middle;
}

th {
    font-style: normal;
    font-weight: 600;
    font-size: clamp(14px, 1.6vw, 16px);
}

td {
    font-size: clamp(12px, 1.6vw, 14px);
}

th,
td {
    border: 1px solid var(--color-primary) !important;
}

ul {
    margin-left: 30px;
}

ol {
    list-style: decimal;
    margin-left: 25px;
}

ul li::before {
    content: ".";
    font-size: 24px;
    position: relative;
    top: -3px;
    left: -5px;
}

.back_to_home {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
} 
