@import url('main-banner.css');
@import url('single.css');

.pdscategory {
    max-width: 1240px;
    margin: 0 auto;
}

.pdscategory_info h2 {
    font-size: clamp(24px, 4vw, 32px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 50px;
}

.pdscategory .pdscategory_content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px clamp(15px, 2vw, 40px);
    justify-content: center;
}