@import url('main-banner.css');
@import url('single.css');

.pdscategory {
    max-width: 1240px;
    margin: 0 auto;
}

.pdscategory_info h2 {
    font-size: clamp(24px, 4vw, 32px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 50px;
}

.pdscategory .pdscategory_content {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: clamp(15px, 3vw, 55px);
    row-gap: clamp(10px, 6vw, 30px);
    justify-content: center;
}

/* .pdscategory .pdscategory_content {
    margin-top: 25px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    column-gap: clamp(15px, 3vw, 55px);
    row-gap: clamp(10px, 6vw, 30px);
    justify-content: center;
} */

.pdspagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-top: 76px;
    margin-bottom: clamp(120px, 12vw, 220px);
}

.pdspagination a,
.pdspagination span {
    text-decoration: none;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 22px;
    height: 22px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pdspagination span.current {
    background-color: #000;
    color: #fff;
    width: 22px;
    height: 22px;
    border-radius: 3px;
}

.pdscategory_content_not_found{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    margin-top: 60px;
}

.pdscategory .pdscategory_content_founded h3{
    position: absolute;
}

@media screen and (min-width: 769px) {
    .pdscategory .pdscategory_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .pdscategory .pdscategory_content_founded{
        display: flex;
    }

    .pdscategory_content_not_found{
        display: grid;
        grid-template-columns: repeat(3, minmax(clamp(163px, 27.1vw, 377px), 1fr));
        gap: 20px clamp(15px, 3.5vw, 54px);
        margin-top: 80px;
        overflow-x: visible;
    }
}