.footer {
    background-color: var(--color-primary);
}

footer li::before{
    display: none;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer_content .logo_mobile img {
    max-width: clamp(219px, 28vw, 296px);
    height: auto;
}

.footer_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: clamp(0px, 0.7vw, 10px);
    flex-wrap: wrap;
    min-width: clamp(349px, 45vw, 564px);
    margin: 0px;
}

.footer_menu a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: clamp(12px, 2vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    transform: scale(1);
    cursor: pointer;
    padding: 3px;
}

.foooer_social {
    display: flex;
    gap: 20px;
}

.foooer_social a {
    display: flex;
    background-color: #50B848;
    width: 37px;
    height: 37px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.footer_copy p {
    text-align: center;
    color: #FFFFFF;
    font-size: clamp(12px, 2vw, 16px);
}