@import url('main-banner.css');
@import url('post-card.css');

.planodesaude {
    margin-top: clamp(52px, 10vw, 100px);
}

.planodesaude h2 {
    text-align: center;
}

.planodesaude h2 span {
    color: #5B8FCB;
    font-weight: 700;
    font-size: clamp(24px, 4vw, 42px);
    font-style: normal;
    line-height: 117.823%;
}

.planodesaude p {
    text-align: center;
    color: #000;
    text-align: center;
    font-size: clamp(18px, 3vw, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    margin-bottom: 18px;
}

.planodesaude_grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px 16px;
    flex-wrap: wrap;
}

.planodesaude_grid_item {
    width: 165px;
    height: 178px;
    flex-shrink: 0;
    border-radius: 28px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.planodesaude_grid_item:nth-child(1) {
    background: #4D72AA url('../img/mapa-brazil.avif') no-repeat center right / 83px;
}

.planodesaude_grid_item:nth-child(2) {
    background: #4D72AA url('../img/calculadora.avif') no-repeat center right / 73px;
}

.planodesaude_grid_item:nth-child(3) {
    background: #4D72AA url('../img/docs.avif') no-repeat center right / 73px;
}

.planodesaude_grid_item:nth-child(4) {
    background: #4D72AA url('../img/save-money.avif') no-repeat center right / 89px;
}

.planodesaude_grid_item span {
    color: #FFF;
    text-align: center;
    font-size: clamp(18px, 2.4vw, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    margin-bottom: 23px;
    max-width: clamp(152px, 24vw, 198px);
}

/* Section CTA */
.planodesaude_cta {
    margin-top: clamp(50px, 8vw, 92px);
    margin-bottom: 80px;
    background: rgba(115, 167, 227, 1) url('../img/casal-abraçando-um-ao-outro-mobile.avif') no-repeat left center / cover;
    border-radius: 30px;
    overflow: hidden;
    padding: 34px 16px 22px 16px;
    position: relative;
    min-height: 260px;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.planodesaude_cta .planodesaude_cta_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    opacity: 1;
}

.planodesaude_cta::before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
}

.planodesaude_cta h2 {
    font-weight: 700;
    z-index: 2;
}

.planodesaude_cta p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 2;
}

.planodesaude_cta a {
    display: flex;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    width: 100%;
    height: 34px;
    padding: 6px 1px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 38px;
    background: #1E1E1E;
    z-index: 2;
}

/* Section CTA */

/* Section latest posts */
.latest_posts_conatiner {
    margin-top: clamp(40px, 8vw, 92px);
}

.latest_posts_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.latest_posts_header a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.latest_posts {
    display: flex;
    overflow-y: hidden;
    scrollbar-width: none;
    padding-bottom: 20px;
}

.latest_posts_search {
    margin: 17px 0px;
}

.latest_posts_category_list {
    display: flex;
    margin: 30px auto;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
}

.latest_posts_category_list li {
    white-space: nowrap;
}

.latest_posts_category_list li::before {
    display: none;
}

.latest_posts_category_list a {
    text-decoration: none;
    color: #585858;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Section latest posts */

.planodesaude_cta_content {
    max-width: clamp(356px, 50vw, 698px);
    display: flex;
    margin-bottom: 20px;
}

.post_card {
    flex: 0 0 auto;
    margin-right: 20px;
}

@media screen and (min-width: 769px) {

    .latest_posts_category_list li {
        white-space: normal;
    }

    .latest_posts_search .searchform {
        width: clamp(190px, 20vw, 287px);
    }

    .latest_posts_category_list {
        margin: 0px;
        margin-left: 36px;
        width: 100%;
        justify-content: space-evenly;
    }

    .latest_posts_category_list a {
        font-size: 18px;
        font-weight: 400;

        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 20px;
    }

    .latest_posts_category_list a:hover {
        background: #5B8FCB;
        color: #FFFFFF;
    }

    .latest_posts_search {
        display: flex;
        max-width: 1240px;
        margin: 37px auto;
        align-items: center;
    }

    .latest_posts_header {
        display: none;
    }

    .latest_posts_header a {
        display: none;
    }

    .post_card {
        margin-right: 0px;
    }

    .latest_posts {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    .planodesaude {
        position: relative;
    }

    .planodesaude::before {
        content: "";
        border-radius: 54px;
        background: #EAEAEA;
        width: 100%;
        height: 507px;
        display: block;
        position: absolute;
        z-index: -1;
    }

    .planodesaude::after {
        content: "Proteja quem você ama!";
        color: #5B8FCB;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 117.823%;
        border-radius: 0px 0px 24px 24px;
        background: #FFF;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, 0px);
        padding: 15px 50px;
    }

    .planodesaude h2 {
        padding-top: 96px;
    }

    .planodesaude p {
        margin: 22px auto 42px auto;
        max-width: 1034px;
    }

    .planodesaude_grid {
        gap: 20px 33px;
    }

    .planodesaude_grid_item {
        width: 262px;
        height: 285px;
    }

    .planodesaude_grid_item span {
        font-weight: 350;
    }

    .planodesaude_grid_item:nth-child(1) {
        background: #1E1E1E url('../img/mapa-brazil.avif') no-repeat center right / 131px;
    }

    .planodesaude_grid_item:nth-child(2) {
        background: #1E1E1E url('../img/calculadora.avif') no-repeat center right / 116px;
    }

    .planodesaude_grid_item:nth-child(3) {
        background: #1E1E1E url('../img/docs.avif') no-repeat center right / 116px;
    }

    .planodesaude_grid_item:nth-child(4) {
        background: #1E1E1E url('../img/save-money.avif') no-repeat center right / 141px;
    }

    .planodesaude_cta {
        background: rgba(115, 167, 227, 1) url('../img/casal-abraçando-um-ao-outro-desktop.avif') no-repeat left center / cover;
        padding: 34px 62px 22px 16px;
        min-height: 477px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .planodesaude_cta::before {
        display: none;
    }

    .planodesaude_cta_content {
        max-width: clamp(356px, 50vw, 698px);
    }

    .planodesaude_cta_content a {
        height: 58px;
        font-size: 18px;
    }

    .planodesaude_cta_content p {
        font-size: 22px;
        line-height: normal;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header_search_mobile {
        width: 100%;
    }

    .latest_posts_search {
        flex-direction: column;
        align-items: flex-start !important;
        row-gap: 10px;
    }

    .latest_posts_search .searchform {
        width: 100%;
    }

    .latest_posts_category_list{
        margin-left: 0px;
    }
}