@import url('main-banner.css');
@import url('single.css');

.page_container{
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.page_title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 40px;
}

.page_container p,
.page_container ol li {
    margin-bottom: 20px;

    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
}

@media screen and (min-width: 769px) {

    .terms_cta .planodesaude_cta{
        height: 477px;
    }
    
}